@media (max-widht: 1920px) {
  :root {
    --big-container-width: 1600px;
    --small-container-width: 1360px;
  }

  .card img {
    width: 493.33px;
  }
}

@media (max-widht: 1024px) {
  :root {
    --big-container-width: 904px;
    --small-container-width: 700px;
  }

  .card img {
    width: 261.33px;
  }
}
@media (max-widht: 768px) {
  :root {
    --basic-indent: calc(var(--basic-space) * 4);
    --big-container-width: 648px;
    --small-container-width: 648px;
  }

  .grid-card {
    grid-template-columns: repeat (2, 1fr);
    gap: var(--basic-indent);
  }
}
@media (max-widht: 450px) {
  :root {
    --basic-indent: calc(var(--basic-space) * 2);
    --big-container-width: 315px;
    --small-container-width: 315px;
  }

  .header .big-container {
    padding-left: var(--basic-space);
    padding-right: var(--basic-space);
  }
  .grid-card {
    grid-template-columns: repeat (1, 1fr);
    gap: var(--basic-indent);
  }
}
