.container {
  width: 1100px;
  height: 800px;
  background: #c4c4c4;
}
.wrap {
  color: white;
  width: 1000px;
  height: 200px;
}
body {
  font-family: "Roboto", sans-serif;
}

.card {
  background: #fc8f8f;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 64px;
  color: #ffffff;
  margin-left: 15px;
}
.small-card {
  background: #fc8f8f;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  margin-right: 15px;
}
.clearfix {
  clear: both;
}
