@import url("./basic.css");

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
}
.items-center {
  align-items: center;
}

.align-beetween {
  align-content: space-between;
}
.justify-beetween {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.burger {
  position: relative;
}
.transition {
  transition: all 0.3s linear;
}
.gap-60 {
  gap: 60px;
}
.gap-30 {
  gap: 30px;
}
.gap-15 {
  gap: 15px;
}
.dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--bg-light);
}
.font-14 {
  font-size: 14px;
}

/* ------section----------------- */
.card-title {
  color: #323264;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: 700;
}

.main-title {
  font-size: 38px;
  background-color: #ffffff;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.title-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}
.grid-card {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
.card:hover .card-title {
  color: var(--color-red);
}
.card:hover svg path {
  stroke: var(--color-red);
}

.span-more {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ededf7;
}
.card img {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}
/* -------------------contact---------------------------- */
.data-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.contact-adress,
.contact-tel,
.contact-email {
  font-size: 21px;
}
.social-link {
  font-size: 12px;
  font-weight: 700;
  color: #24a3ff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.social-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: max-content;
}
.social-wrapper:hover svg path {
  fill: #f0145a;
}
.social-wrapper:hover {
  color: #f0145a;
}

.contact-wrapper hr {
  height: 4px;
  background: #e6e6f0;
  border: none;
}
.contact-tel-email {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-email {
  color: #24a3ff;
}
.contact-title {
  font-size: 30px;
  font-weight: 700;
  background-color: #ffffff;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 37px;
  text-align: start;
}
.form-wrapper {
  background: #f5f5fa;
  border-radius: 12px;
  padding: var(--basic-indent);
}
.form-elements {
  gap: 30px;
  width: 100%;
}
.answer-wrapper,
.name-message {
  gap: 15px;
}
.input-Message {
  width: 100%;
  resize: none;
  height: 130px;
}

.input-name,
.input-Message,
.input-tel,
.input-email {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 15px;
  line-height: 26px;
  font-size: 16px;
  outline: none;
}
input::placeholder,
textarea::placeholder,
.answer-title {
  color: #b3b3ba;
}

.input-name:focus,
.input-Message:focus,
.input-tel:focus,
.input-email:focus {
  outline: 1px solid #24a3ff;
}

/* .input-name:invalid {
  outline: 1px solid #ff0000;
} */

.form-elements,
.name-message,
.answer-wrapper {
  display: flex;
  flex-direction: column;
}
.btn-send {
  background: #24a3ff;
  color: white;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  border: none;
  font-weight: 700;
}
.btn-send:hover {
  background: #0085ff;
  border: none;
}
.btn-send:active {
  background: #006ccf;
}

/* -------------------contact---------------------------- */
/* ---------------TEAM ENTRY------------------------------------------- */
.small-container-Oksana {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto auto;
  column-gap: 60px;
}
.team-emptry {
  margin-top: calc(var(--basic-indent) * 2);
}
.about-oksana {
  display: flex;
  flex-direction: column;
  gap: 15px;

  grid-area: 1/2/1/2;
}
.oksana-wrapper {
  border-radius: 12px;
  width: 100%;
}
.about-Oksana-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-area: 2/2/2/2;
}

.photo-oksana {
  object-fit: cover;
  grid-area: 1/1/3/1;
}
.photo-oksana img {
  max-width: 100%;
}
.Oksana-title {
  font-size: 38px;
  font-weight: 700;
  background-color: #ffffff;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 46px;
  text-align: start;
}
.oksana-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.oksana-job {
  font-size: 14px;
  color: #b3b3ba;
}
.blue-link {
  color: #24a3ff;
}
.grey-line {
  display: block;
  background: #e6e6f0;
  height: 4px;
  border: none;
}
.item-rezume {
  color: #323264;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* ----------------publications ------------ */
.public-section {
  background-color: var(--bg-grey);
  margin-top: var(--basic-indent);
}
.public-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.news-articles {
  background: #e6e6f0;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 30px;
  padding: 2px;
}

.btn-articles p,
.btn-news p {
  color: #323264;
  font-weight: 700;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 20px;
}

.news-articles {
  border-radius: 12px;
}
.btn-news,
.btn-articles {
  border-radius: 10px;
  border: none;
}

.btn-news {
  background: white;
}
.btn-articles {
  background: #e6e6f0;
}
.btn-articles:hover {
  background: #f5f5fa;
}

.publications-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-public {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
}
.card-public img {
  max-width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.public-discription {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: var(--basic-indent);
}
.public-discription h4 {
  color: var(--color-blue);
}
.public-discription h4:hover {
  color: #f0145a;
}

.public-date {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-grey);
}
.btn-more {
  background: #24a3ff;
  color: white;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  border: none;
  font-weight: 700;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.public-btn-more {
  margin: auto;
}
/* -------------------HomePage--------------- */
body.gradient .header {
  position: absolute;
  color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 2;
}
body.gradient .header .logo svg path:first-child {
  fill: #f0145a;
}
body.gradient .nav {
  color: white;
}
body.gradient .nav a:hover {
  border-bottom-color: white;
}
body.gradient .logo a svg path {
  fill: white;
}
.bg-gradient {
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  position: relative;
  color: #ffffff;
}

.bg-gradient::before,
.bg-gradient::after {
  border-radius: 0px 0px 12px 12px;
  content: "";
  display: block;
  position: absolute;
  height: 20px;
}

.bg-gradient::before {
  top: 100%;
  background: #cacadb;
  transform: translateY(-50%);
  width: calc(100% - 40px);
  left: 20px;
  z-index: -1;
}
.bg-gradient::after {
  top: 100%;
  background: #e7e7f2;
  z-index: -2;
  width: calc(100% - 80px);
  left: 40px;
}
.first-section {
  min-height: 100vh;
  background: url(../images/Symbol.png) no-repeat center/contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
}
.first-section h1 {
  font-size: 2rem;
  max-width: max-content;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
}
.first-section .container {
  position: static;
}
.homepage-title-gradient {
  font-size: 38px;
  background-color: #ffffff;
  background-image: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* -------------------------------------------------------- */
.tabs-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 375px;
  grid-area: 1/1/1/1;
}
.tabs-left h2 {
  font-size: 38px;
  color: var(--color-grey);
  font-weight: 700;
  line-height: 46px;
  text-align: right;
}
.tabs-left h2:first-child {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.tabs-left h2:hover {
  color: var(--color-red);
}
.vertikal-line {
  display: block;
  width: 4px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  min-width: 4px;
  align-self: stretch;
  grid-area: 1/2/1/2;
}
.tabs-right h2 {
  font-size: 30px;
}
.tabs-right {
  display: flex;
  gap: 30px;
  flex-direction: column;
  grid-area: 1/3/1/3;
}
.tabs-right p {
  font-size: 19px;
}
.tabs-section .small-container {
  display: grid;
  grid-template-columns: 375px auto;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.tabs-section {
  padding-bottom: 60px;
  padding-top: 60px;
}
/* ----------------------team------------------------------------ */
.homepage-team {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  border-radius: 12px;
}

.homepage-team img {
  align-self: stretch;
}

.homepage-team-title,
.homepage-service-title,
.homepage-public-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}
.homepage-team-title:hover,
.homepage-service-title:hover,
.homepage-public-title:hover {
  color: var(--color-red);
}
.homepage-team-right {
  background: #f5f5fa;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  border-radius: 0px 12px 12px 0px;
}
.homepage-team-alex {
  color: var(--color-grey);
  margin-bottom: 6px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}
.slider-item {
  border-radius: 12px;
  overflow: hidden;
}

.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  margin: 5px 7px;
  background: #24a3ff;
  display: block;
  border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #24a3ff;
  opacity: 0.2;
}
.homepage-team img {
  max-width: 400px;
  max-height: 298px;
}
/* --------------------LOGO------------------- */
.logo-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  overflow: hidden;
  border-radius: 12px;
}
.logo-card {
  padding: 10px 20px;
  height: var(--logo-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-card img {
  max-height: 50%;
}
.logo-card.bg-1 {
  background: #1c4280;
}
.logo-card.bg-2 {
  background: #143646;
}
.logo-card.bg-3 {
  background: linear-gradient(0deg, #f48b30, #f48b30), #f48b30;
}
.logo-card.bg-4 {
  background: #9e4dc3;
}
.logo-card.bg-5 {
  background: #fd9339;
}
.logo-card.bg-6 {
  background: #e2e2e4;
}
.logo-card.bg-7 {
  background: #c71c36;
}
.logo-card.bg-8 {
  background: #dcf3f9;
}
.logo-card.bg-9 {
  background: #eaeaea;
}
.logo-card.bg-10 {
  background: #282240;
}
.logo-card.bg-11 {
  background: #1d4568;
}
.logo-card.bg-12 {
  background: #000000;
}

.logo-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

/* --------------------------- */

/* --------------------------------Service--------------------- */
.service-title h2 {
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.homepage-service-title:hover svg path {
  color: var(--color-red);
  stroke: var(--color-red);
}
.img-service {
  display: block;
  background: #ffffff;
  border-radius: 24px;
  padding: 14px;
}
.homepage-service-discription {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.homepage-service-discription h3 {
  font-size: 22px;
  color: var(--color-blue);
}
.homepage-service-discription p {
  font-size: 16px;
}
.service-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* ---------------------public-------------------- */
.homepage-public-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.homepage-public-title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.homepage-publications {
  border-radius: 12px 12px 0px 0px;
}
.homepage-public-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.hompage-footer,
.homepage-publications {
  background: #f5f5fa;
}
